
root = true

[*]
indent_style = space
indent_size = 4
trim_trailing_whitespace = true
end_of_line = lf
charset = utf-8
max_line_length = 90

[*.ahk]
charset = utf-8-bom
max_line_length = 99

[*.bat]
charset = gbk
