
*.Private.*
*.Snippet.*
*.Backup.*
*.Replace.*
*.Demo.*
*.Test.*

*.lnk

/.vscode/
/.idea/

/Backup/

/@/
/Data/*
/Test/*

~
~~~
~ ~ ~
~ * ~

*~

@.ahk
Test.*

desktop.ini

JQB_Phone
JQB_Windows

Backup.ahk
Private.ahk
Debug.ahk
Script.txt
