
*.Private.*
*.Snippet.*
*.Backup.*
*.Demo.*
*.Test.*

*.lnk

/.vscode/
/.idea/

/@/
/Data/*
/Test/*

JQB_Phone
JQB_Windows

Private.ahk
Script.txt

/@.ahk
/Test.ahk
/Debug.ahk

/Test.cmd

/desktop.ini

